<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>recipes</title>
  <link rel="stylesheet" href="recipe.css">
</head>
<body>

  <header>
    <h1>Recipe Search</h1>
  </header>
  <main>
    <div class="content">
        <div>
            <h2>recipe select</h2>
            <form id="form"> 
                <input type="search" id="query" name="q" placeholder="Search...">
                <button>Search</button>
              </form>
            <div id="search_recipe">
                <div class= "log">...</div>
                <div class="log">...</div>
            </div>
        </div>
    </div>
  </main>
  <footer>
  </footer>

</body>
</html>