h1 {
    border: 2px #eee solid;
    color: #e85b15;
    text-align: center;
    padding: 10px;
}
.links{
    text-align: center;  
    width: 300px;  
    height: 100px;  
    padding-top: 100px;  
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.button {
    background-color:#e85b15;
    border: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
  .text {
    color:#e85b15;
    text-align: center;
  }
.center {
    margin-left: auto;
    margin-right: auto;
}
