<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Dynamic Calorie Tracker</title>
</head>
<body>
   <h1>Welcome to Dynamic Calorie Tracker</h1>
    <p style="text-align: center"><a href="/restaurant">Restaurant</a></p>
    <p style="text-align: center"><a href="/menu_item">Menu</a></p>
    <p style="text-align: center"><a href="/customer">Customer</a></p>
    <p style="text-align: center"><a href="/order">Order</a></p>
    <p style="text-align: center"><a href="/order_item">Order Item</a></p>
    <p style="text-align: center"><a href="/food_delivery">Food Delivery</a></p>
</body>
</html>