<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Dynamic Calorie Tracker</title>
</head>
<body>
   <h1>Welcome to Dynamic Calorie Tracker</h1>
   <div class="wrapper">
    <div class="links">
        <a href="/recipes"> <button class="button">Recipes</button> </a>
    </div>
    <div class="links">
        <a href="/transaction"> <button class="button">Transactions</button> </a>
    </div>
     </div>
    <div class="wrapper">
        <div class="links">
            <a href="/restaurant_menu"> <button class="button">restaurantmenu</button> </a>
        </div>
        <div class="links">
            <a href="/personal_info"> <button class="button">personalinfo</button> </a>
        </div>
         </div>
    <div class="text">Total Calories: {{total_calories}} </div>
</body>
</html>