{% extends 'base.html' %}

{% block head %}
<title>Menu Items</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Menu Items</h1>
    {% if menu_items|length < 1 %} <h4 style="text-align: center">There are no menus. Create one below!</h4>
    {% else %}
        <table class="center">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>calories</th>
                <th>restaurant_id</th>
                <th>created_at</th>
                <th>Actions</th>
            </tr>
            {% for menu in menu_items %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.price }}</td>
                <td>{{ menu.calories }}</td>
                <td>{{ menu.restaurant_id }}</td>
                <td>{{ menu.created_at.date() }}</td>
                <td>
                    <a href="/delete/{{menu.id}}">Delete</a>
                    <br>
                    <a href="/update/{{menu.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>        
    {% endif %}

        <div class="form" style="text-align: center">
            <form action="/restaurant_menu" method="POST">
                <input type="text" name="name" id="name">
                <input type="submit" value="Add Menu">
            </form>
        </div>
</div>
{% endblock %}
