{% extends 'base.html' %}

{% block head %}
<title>Food Delivery</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Food Delivery</h1>
    {% if customers|length < 1 %} <h4 style="text-align: center">There are no customers. Create one below!</h4>
    {% else %}
        <table class="center">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>daily_calories_goal</th>
                <th>per_meal_calories_limit</th>
                <th>Actions</th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.daily_calories_goal }}</td>
                <td>{{ customer.per_meal_calories_limit }}</td>
                <td>
                    <a href="/food_delivery/customer/{{customer.id}}">login</a>
                </td>
            </tr>
            {% endfor %}
        </table>        
    {% endif %}
        <p style="text-align: center"><a href="/">Back to Home</a></p>
</div>
{% endblock %}
